@import 'normalize.css', 'reset.css';
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,500;0,700;1,500&family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');

// :root.dark {
// }
// :root.light {
// }

$black: #333;
$gray: #555;
$shadow: 0 0 3px #333;

*,
*::after,
*::before {
  box-sizing: border-box;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.hide {
  display: none;
}

body {
  font-family: 'Roboto', sans-serif;
  color: $black;
}
header {
  background: linear-gradient(160deg, #0891b2 35%, white 36%);
  color: $black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Playfair Display', serif;
}
h1 {
  font-size: 3.5rem;
}
h2 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 25px;
}
h3 {
  font-size: 1.7rem;
}
p {
  line-height: 1.4;
  font-size: 1.1rem;
  color: $gray;
}
img {
  max-width: 100%;
  display: block;
}
a {
  color: $black;
  border-bottom: 2px solid transparent;
  opacity: 0.8;
  transition:
    border-color 200ms ease-in-out,
    opacity 200ms ease-in-out;

  &:hover,
  &:focus {
    border-color: $black;
    opacity: 1;
    outline: none;
  }
}
section {
  padding: 15px;
}

.img-text {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 5px;

  h1 {
    position: absolute;
    bottom: 25px;
    width: 300px;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 2px rgba(51, 51, 51, 0.6);
  }

  img {
    box-shadow: $shadow;
  }
}

.links-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;

  a {
    font-size: 2rem;
    margin: 0 5px;
    padding: 5px;
  }
}

.my-work-sect {
  margin-top: 25px;

  .project-container {
    box-shadow: $shadow;
    margin: 20px 0;
    border-radius: 5px;

    img {
      height: 250px;
      width: 100%;
      object-fit: cover;
    }

    .project-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 20px 10px 10px 10px;

      .project-links {
        a {
          font-size: 1.3rem;
          padding: 0px 5px;

          &:last-of-type {
            font-size: 1.2rem;
          }
        }
      }
    }

    .project-main {
      padding: 10px;
    }
  }
}

footer {
  background-color: #0891b2;
  color: white;
  p {
    color: whitesmoke;
  }
  a {
    color: whitesmoke;

    &:hover {
      border-bottom-color: whitesmoke;
    }
  }
  img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
  }
  .contact-sect {
    .contact-info-container {
      margin-top: 20px;
      .contact-info {
        font-style: italic;
        font-size: 0.9rem;

        &:nth-child(3) {
          margin-top: 20px;
        }
      }
    }
  }
}

@media (min-width: 600px) {
  header {
    background: linear-gradient(170deg, #0891b2 50%, white 51%);

    .links-container {
      display: none;
    }

    .img-text {
      float: left;

      img {
        width: 450px;
        margin-right: 20px;
      }
      h1 {
        left: 0;
      }
    }

    article {
      box-shadow: $shadow;
      margin: 0 70px;
      background-color: white;
      padding: 0 20px 50px 20px;

      h2 {
        margin-top: 120px;
        padding-top: 50px;
      }
    }
  }

  .projects-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 0 30px;
  }

  footer {
    display: flex;

    h2 {
      text-align: left;
    }
    img {
      padding: 30px;
    }

    .links-container {
      justify-content: flex-start;
    }
  }
}
