@import 'normalize.css', 'reset.css';
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,500;0,700;1,500&family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');

// :root.dark {
// }
// :root.light {
// }

$black: #333;
$gray: #555;
$shadow: 0 0 3px #333;

*,
*::after,
*::before {
  box-sizing: border-box;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.hide {
  display: none;
}

body {
  font-family: 'Roboto', sans-serif;
  color: $black;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Playfair Display', serif;
}
h1 {
  font-size: 3.5rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 1.7rem;
}
p {
  line-height: 1.4;
  font-size: 1.1rem;
  color: $gray;
}
img {
  max-width: 100%;
}
a {
  color: $black;
  border-bottom: 2px solid transparent;
  opacity: 0.8;
  transition:
    border-color 200ms ease-in-out,
    opacity 200ms ease-in-out;

  &:hover,
  &:focus {
    border-color: $black;
    opacity: 1;
    outline: none;
  }
}

.img-text {
  position: relative;
  padding: 5px;
  display: flex;
  justify-content: center;

  h1 {
    position: absolute;
    bottom: 25px;
    width: 300px;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 2px rgba(51, 51, 51, 0.6);
  }

  img {
    box-shadow: $shadow;
  }
}

.links-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;

  a {
    font-size: 2rem;
    margin: 0 5px;
    padding: 5px;
  }
}

.about-sect {
  padding: 15px;
  h2 {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 25px;
  }
}

.my-work-sect {
  margin-top: 25px;
  padding: 15px;

  h2 {
    margin-bottom: 10px;
    text-align: center;
  }

  .project-container {
    box-shadow: $shadow;
    margin: 20px 0;

    img {
      height: 250px;
      object-fit: cover;
    }

    .project-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 5px 10px 10px 10px;

      .project-links {
        a {
          font-size: 1.3rem;
          padding: 0px 5px;

          &:last-of-type {
            font-size: 1.2rem;
          }
        }
      }
    }

    .project-main {
      padding: 10px;
    }
  }
}
